@mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 599px) {
      @content;
    }
  }

  @mixin tablet2 {

    @media only screen and (max-width: 850px) {
        @content;
    }
  }